* {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

html, a {
	color: #cccccc;
}

nav {
	list-style-type: none;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 2rem;
	padding: 30px;
}

header nav {
	display: flex;
	font-weight: bold;
}

header h2 {
	margin-left: 25px;
}

header nav li {
	margin-right: 30px;
}

.menu-icon {
	display: none;
}

.img-area {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	width: 100vw;
	height: 100vh;


	background-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/4.jpg);
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 80vh;
	line-height: 2;
	font-size: 2.5rem;
}

.banner-text h1 {
	text-shadow: 2px 2px 1px black;
	font-size: 6rem; 
}

.banner-text h1,
.banner-text a {
	text-transform: capitalize;
}

.banner-text h3 {
	margin-bottom: 20px;
	font-family: initial;
	font-style: italic;
}

.banner-text a.btn {
	background: #5c8fff;
	padding: 15px 45px;
	border-radius: 5px;
}


@media (max-width: 767px) {
	header h2 {
		margin-left: 20px;
	}

	nav li {
		display: none;
	}

	.menu-icon {
		display: inline-block;
		margin-right: 20px;
	}

	.banner-area {
		min-height: 500px;
	}

	.banner-text {
		line-height: 1.3;
	}

	.banner-text h1 {
		font-size: 5rem;
		margin-bottom: 10px;
	}

	.banner-text h3 {
		font-size: 2rem;
	}	

	.banner-text a.btn {
		padding: 15px 30px;
	}

}